body {
    height: 100vh;
    background: linear-gradient(to bottom, #E6521F, #FB9E3A);
    font-family: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

input:focus {
    outline: none;
}

.viagens_titulo {
    display: flex;
    color: #fff;
    padding: 7rem 9rem 2rem;
    text-shadow: 0 0 3px #fff;
}

.carrossel_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.painel_paises {
    display: flex;
    height: 24vh;
    width: 57vw;
    justify-content: center;
    align-items: center;
    background-color: #393E46;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.paises_slider {
    display: flex;
}

.card {
    height: 15vh;
    width: 15vw;
    padding: 6px 5px 6px 5px;
    padding-bottom: 2rem;
    background-color: #EAEFEF;
    border-radius: 9px;
    margin: 1rem;
    color: #000;
    transition: 0.3s ease;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.card:hover {
    cursor: grab;
    transform: scale(1.1);
    transition: 0.3s ease;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.cardName {
    color: #000;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: 500;
}

.painel_viagens {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    gap: 2rem;
}

.form_painel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_painel input {
    background-color: #fff;
    border-radius: 17px;
    border: none;
    width: 40vw;
    height: 3vh;
    text-shadow: none;
    font-size: 15px;
    padding-left: 2rem;
}

.form_painel button {
    background-color: #fff;
    color: #393E46;
    border-style: none;
    height: 3vh;
    width: 4vw;
    border-radius: 17px;
    margin-left: 0.4vw;
}

.painel_resultados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
}

.viagens_busca {
    display: flex;
    background-color: #393E46;
    border-radius: 5px;
    height: 30vh;
    width: 40vw;
    justify-content: center;
    align-items: center;
}

.cardViagem {
    height: 15vh;
    width: 15vw;
    padding: 5px 3px 5px 3px;
    padding-bottom: 4rem;
    background-color: #EAEFEF;
    border-radius: 5px;
    margin: 1rem;
}

.cardViagem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.viagens_cadastro {
    display: flex;
    flex-direction: column;
    background-color: #393E46;
    color: #fff;
    border-radius: 5px;
    height: 30vh;
    width: 40vw;
    justify-content: flex-start;
    padding-top: 1rem;
    align-items: center;
    gap: 2rem;
}

.titulo_cadastro {
    font-size: 1.6rem;
    margin: 0;
    text-shadow: 0 0 3px #fff;
    white-space: nowrap;
    color: #fff;
}

.form_cadastro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.destinoEhotel{
    display: flex;
    flex-direction: row;
}

.destinoEhotel select{
    cursor: pointer;
    height: 3vh;
    width: 6vw;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
}


.form_cadastro input {
    display: flex;
    border-radius: 1rem;
    height: 1.6vh;
    width: 12vw;
    border: none;
    padding-left: 2rem;
}

.formBtn{
    display: flex;
    flex-direction: row;
}
.quantidade_pessoas input{
    height: 2vh;
    width: 2vw;
}