body{
    height: 100vh;
    background: linear-gradient(to bottom,  #E6521F,#FB9E3A);
    font-family: "Montserrat", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.viagens_titulo{
    display: flex;
    color:#fff;
    padding: 7rem 9rem 2rem ;
    text-shadow: 0 0 3px white;
}

.painel_viagens{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.form_painel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_painel input{
    background-color: #fff;
    border-radius: 15px;
    border: none;
    width: 40vw;
    height: 3vh;
    text-shadow: none;
}

.painel_paises{
    display: flex;
    height: 10rem;
    width: 20rem;
    justify-content: center;
    background-color: whitesmoke;
}
   